body {
  margin: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(45, 47, 52, 1);
}

#root {
  padding: 0 60px;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (max-width: 620px) {
  #root {
    padding: 0 15px;
  }
}
